@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto&display=swap');

:root{
  --bluishBlack: #1D2026;
  --yellowishWhite: #FFF4E8;
  --mobileHeaderBg: #272B33;
}
.portfolioHeader h1, #toggleAnimation h1, .menuItem h1{
  font-family: 'Poppins', sans-serif;
}

.portfolioHeader h1 {
  margin-top: 6rem;
}

p{
  line-height: 175%;
}
*{
  margin:0;
  box-sizing: border-box;
  font-size: 18px;
  color: var(--yellowishWhite);
  font-family: 'Roboto', sans-serif;
}

body{
  background-color:var(--bluishBlack);
}

.gridContainer{
  display:grid;
  grid-template-rows: auto; 
  grid-template-columns: repeat(9,1fr)[last-column];
  grid-gap:16px;
}

.headerAndMenu{
  position:fixed;
  top:0;
  height:100vh;
  display: flex;
}

.menu{
  display:none;
}
.menuActive{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.header{
  /* background-color: var(--bluishBlack); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  height: 100vh;
  padding: 2rem 2rem;
  width:fit-content;
}
.logoAndMenuIcon{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageTitle{
  display:none;
}
.headerNavigationHelper{
  display: flex;
  width: 45px;
  justify-content: center;
}
.headerNavigationHelper p{
  font-size: 14px;
}

@media only screen and (max-width: 480px){
  .header{
    background-color: var(--mobileHeaderBg);
    width:100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 0 20px;
  }
  .logoAndMenuIcon{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .headerNavigationHelper{
    display: none;
  }
  .pageTitle{
    display:block;
  }
}
.gridContainer>* {
  border: 1px dotted yellow;
  
}
#logo{
  fill: var(--yellowishWhite);
  width:45px;
  margin-left: 2px;
}
.pImage{
  background-color: gray;
  height: 400px;
}

.portfolioHeader{
  grid-column: 4/ 7;
}

.portfolioHeader h1{
  font-size: 4rem;
  margin-bottom: 3rem;
}

.splitterLine{
  background-color: var(--yellowishWhite);
  height:4px;
  width: 8rem;
  margin-top:5rem;
  margin-bottom:5rem;
}
.portfolioBox{
  grid-column: 4/ span last-column;
  margin-bottom: 10rem;
}
.pdescription{
  grid-column: 1/ span 3;
}
.portfolioFourInRowBox{
  display:grid;
  grid-template-rows: auto; 
  grid-template-columns: repeat(4,1fr)[last-column];
  grid-gap:16px;
  margin-bottom: 24rem;
}

#pfReel{
  width: auto;
  height:780px;
  background-color: darkgray;
}

#toggleAnimation{
  display:flex;
}

#toggleAnimation h1{
  font-size: 2rem;
  margin-bottom: 2rem;
}

.slash{
  margin: 0 0.5rem 0 0.5rem;
  font-size: 2rem;
}
.menuItem{
  margin: 0 2rem;
}
.menuItem h1{
  font-size: 3rem;
  color: var(--bluishBlack);
}
.menuItem p{
  font-size: 1.25rem;
  color: var(--bluishBlack);
}