
:root{
  --bluishBlack: #1D2026;
  --yellowishWhite: #FFF4E8;
  --mobileHeaderBg: #272B33;
}
*{
  margin:0;
  box-sizing: border-box;
  font-size: 16px;
  color: var(--yellowishWhite);
}
body{
  background-color:var(--bluishBlack);
}

.gridContainer{
  display:grid;
  grid-template-rows: auto [last-line]; 
  grid-template-columns: repeat(9,1fr);
  grid-gap:16px;
}

.header{
  position:fixed;
  background-color: var(--bluishBlack);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  height: 100vh;
  padding: 2rem 0;
}
.logoAndMenuIcon{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.pageTitle{
  display:none;
}
@media only screen and (max-width: 480px){
  .header{
    background-color: var(--mobileHeaderBg);
    width:100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    padding: 0 20px;
  }
  .logoAndMenuIcon{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .headerNavigationHelper{
    display: none;
  }
  .pageTitle{
    display:block;
  }
}

.gridContainer>* {
  border: 2px solid white;
  
}
#logo{
  fill: var(--yellowishWhite);
  width:45px;
  margin-left: 2px;
}